* {
    font-family: 'IM Fell Double Pica', serif;
    font-family: 'Quicksand', sans-serif;
}

.flex {
    display: flex;
}
  
.flex2 {
    flex: 1;
    margin: 10px;
}

.borde {
    border: 2px solid black;
    border-radius: 5px;
}

.fondo {
    background-color: rgb(254, 245, 231);
}

.titulo {
    color: green;
    font-weight: bold;
}

/* ESTILS BARRA NAVEGACIÓ */

footer {
    background-color: #375eeb;
    padding: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
  
nav ul li {
    margin-right: 20px;
}
  
nav ul li:last-child {
    margin-right: 0;
}
  
nav ul li a {
    color: #333;
    font-size: 20px;
}
  
nav ul li a:hover {
    color: #666;
}
  
i.fas {
    font-size: 24px;
}

.icono1 {
    width: 4.8%;
}  

/* Estilos para el encabezado */

header {
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Estilos para las secciones */
section {
    margin: 10px;
    padding: 1%;
    margin-bottom: 15px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section ul {
    margin-left: 20px;
    list-style-type: circle;
}

section li {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Estilos para las habilidades técnicas */
section:nth-of-type(4) ul {
    list-style-type: none;
}

/* Estilos para las referencias */
section:last-of-type ul {
    list-style-type: none;
}

h5 {
    background-color: rgba(0, 0, 0, 0.612);
}

/* Estilos para imprimir el CV */
@media print {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}
